
body {
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', sans-serif;
font-weight: 500;
line-height: 1.1;
}

#c4 {
    font-size:30px;
}
#c5 {
    font-size:24px;
    border-radius:0px;
}
#fg1 {
    margin-top:30px;
    margin-bottom:30px;
    
}